__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
.env

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

BASE_CONSOLIDADA/
BASE_MESTRA/
saida_entrada_interface/
saida_temp/
saida_teste/
saida_teste_layout_final/
saidas/

*.db
*.sqlite3
